/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-BIRD Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {
    // Input options
    samplesheet         = null    // Path to samplesheet
    kraken2_db          = null    // Path to Kraken2 database
    checkm2_db          = null    // Path to CheckM2 database
    samplename          = null    // Sample name
    read1               = null    // Path to read1
    read2               = null    // Path to read2
    minimum_total_reads = 30000   // Minimum total reads to continue analysis

    // Module specific parameters
    // FASTP
    adapters            = "${baseDir}/assets/empty.fa"    // Path to adapter fasta file (optional)
    leading             = 1
    front_mean_quality  = 10
    trailing            = 1
    tail_mean_quality   = 10
    minlen              = 50
    window_size         = 4
    right_mean_quality  = 20
    read_quality        = 30
    // BBnorm
    normalization       = true
    norm_target         = 100
    min_depth           = 5
    read_threshold      = 8000000
    // Kraken2 & Bracken
    min_hit_groups      = 3
    bracken_read_len    = 100
    bracken_threshold   = 10
    // BLAST
    target_genes_fasta  = null
    evalue              = 0.001
    max_hsps            = 1
    percent_identity    = 90
    // REPORT
    html_footer         = ""
    disclaimer          = ""
    logo1               = ""
    logo2               = ""
    header_line1        = ""
    header_line2        = ""
    header_line3        = ""
    header_line4        = ""
    header_line5        = ""
    header_line6        = ""

    // Boilerplate options
    outdir                       = "${launchDir}/results"
    publish_dir_mode             = 'copy'
    email                        = null
    email_on_fail                = null
    plaintext_email              = false
    monochrome_logs              = false
    hook_url                     = null
    help                         = false
    help_full                    = false
    show_hidden                  = false
    version                      = false
    trace_report_suffix          = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')// Config options
}

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
    debug {
        dumpHashes              = true
        process.beforeScript    = 'echo $HOSTNAME'
        cleanup                 = false
        nextflow.enable.configProcessNamesValidation = true
    }
    docker {
        docker.enabled          = true
        conda.enabled           = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
        docker.runOptions       = '-u $(id -u):$(id -g)'
    }
    arm {
        docker.runOptions       = '-u $(id -u):$(id -g) --platform=linux/amd64'
    }
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        conda.enabled           = false
        docker.enabled          = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    podman {
        podman.enabled          = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        shifter.enabled         = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    shifter {
        shifter.enabled         = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        charliecloud.enabled    = false
        apptainer.enabled       = false
    }
    charliecloud {
        charliecloud.enabled    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        apptainer.enabled       = false
    }
    apptainer {
        apptainer.enabled       = true
        apptainer.autoMounts    = true
        conda.enabled           = false
        docker.enabled          = false
        singularity.enabled     = false
        podman.enabled          = false
        shifter.enabled         = false
        charliecloud.enabled    = false
    }
}

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
// The JULIA depot path has been adjusted to a fixed path `/usr/local/share/julia` that needs to be used for packages in the container.
// See https://apeltzer.github.io/post/03-julia-lang-nextflow/ for details on that. Once we have a common agreement on where to keep Julia packages, this is adjustable.

env {
    PYTHONNOUSERSITE = 1
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
    JULIA_DEPOT_PATH = "/usr/local/share/julia"
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]

// Disable process selector warnings by default. Use debug profile to enable warnings.
nextflow.enable.configProcessNamesValidation = false

timeline {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_timeline_${params.trace_report_suffix}.html"
}
report {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_report_${params.trace_report_suffix}.html"
}
trace {
    enabled = true
    file    = "${params.outdir}/pipeline_info/execution_trace_${params.trace_report_suffix}.txt"
}
dag {
    enabled = true
    file    = "${params.outdir}/pipeline_info/pipeline_dag_${params.trace_report_suffix}.html"
}

manifest {
    name            = 'Kincekara/nf-BIRD'
    contributors    = [
        [
            name: 'Kutluhan Incekara',
            affiliation: 'Connecticut State Public Health Laboratory',
            email: 'kutluhan.incekara@ct.gov',
            github: 'https://github.com/Kincekara',
            contribution: ['author'],
            orcid: '0000-0001-7915-9847',
        ]
    ]
    homePage        = 'https://github.com/Kincekara/nf-BIRD'
    description     = """Bacterial Identification and Resistance Detection pipeline"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
