/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-BIRD Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs
params {

    // Input options
    samplesheet         = null
    // Path to samplesheet
    kraken2_db          = null
    // Path to Kraken2 database
    checkm2_db          = null
    // Path to CheckM2 database
    samplename          = null
    // Sample name
    read1               = null
    // Path to read1
    read2               = null
    // Path to read2
    minimum_total_reads = 30000
    // Minimum total reads to continue analysis

    // Output options
    outdir              = "${launchDir}/cbird_results"
    publish_dir_mode    = 'copy'

    // Module specific parameters
    // FASTP
    adapters            = "${baseDir}/assets/empty.fa"
    // Path to adapter fasta file (optional)
    leading             = 1
    front_mean_quality  = 10
    trailing            = 1
    tail_mean_quality   = 10
    minlen              = 50
    window_size         = 4
    right_mean_quality  = 20
    read_quality        = 30
    // BBnorm
    normalization       = true
    norm_target         = 100
    min_depth           = 5
    read_threshold      = 8000000
    // Kraken2 & Bracken
    min_hit_groups      = 3
    bracken_read_len    = 100
    bracken_threshold   = 10
    // BLAST
    target_genes_fasta  = null
    evalue              = 0.001
    max_hsps            = 1
    percent_identity    = 90
    // REPORT
    html_footer         = ""
    disclaimer          = ""
    logo1               = ""
    logo2               = ""
    header_line1        = ""
    header_line2        = ""
    header_line3        = ""
    header_line4        = ""
    header_line5        = ""
    header_line6        = ""
}

// Set bash options
process.shell = [
    "bash",
    "-C",
    "-e",
    "-u",
    "-o",
    "pipefail",
]


manifest {
    name            = 'Kincekara/nf-BIRD'
    contributors    = [
        [
            name: 'Kutluhan Incekara',
            affiliation: 'Connecticut State Public Health Laboratory',
            email: 'kutluhan.incekara@ct.gov',
            github: 'https://github.com/Kincekara',
            contribution: ['author'],
            orcid: '0000-0001-7915-9847',
        ]
    ]
    homePage        = 'https://github.com/Kincekara/nf-BIRD'
    description     = """Bacterial Identification and Resistance Detection pipeline"""
    mainScript      = 'main.nf'
    defaultBranch   = 'master'
    nextflowVersion = '!>=24.04.2'
    version         = '1.0.0dev'
    doi             = ''
}


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'
